@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
}

.background {
    width: 100%;
    height: 100vh;
    background: #40da97;
    background: -webkit-linear-gradient(124deg, #40da97 0%, #6928a5 100%);
    background: linear-gradient(124deg, #40da97 0%, #6928a5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-card {
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

@media screen and (max-width: 500px) {
    .main-menu-card {
        width: 300px;
    }
}

.center {
    text-align: center;
}
h1 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.menu-cards {
    margin: 0px 20px 0 20px;
    padding: 10px;
}

.cards {
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.3s;
}
.cards p{
    font-weight: 600;
}
.cards:hover {
    background: linear-gradient(124deg, #40da97 0%, #6928a5 100%);
    color: white;
    border-color: transparent;
}
.area-card {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/** PERIMETER **/

.peri {
    margin-top: 20px;
}

.shapes {
    margin-bottom: 15px;
}

.scroll-parent {
    margin: 0px 20px 0 20px;
    padding: 10px;
    width: auto;
    height: 330px;
    overflow: hidden;
}
.shape-cards {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.back-button {
    background: linear-gradient(124deg, #40da97 0%, #6928a5 100%);
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin-top: 35px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}