* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.links-main-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.links-container {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.logo-main-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container {
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.logo {
    -webkit-box-reflect: below -35% linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}
.green {
    color: #058C42;
}

.carousel-main-container {
    width: 100%;
    height: 25%;
}

@media all and (max-width:760px) {
    .logo-container .logo {
        font-size: 11vw;
    }

    .links-container {
        gap: 5vw;
    }
}

