* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.links-main-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.links-container {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.logo-main-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container {
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
.logo {
    -webkit-box-reflect: below -35% linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
}
.green {
    color: #058C42;
}

.carousel-main-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-container .project{
    margin: 0 25px;
}
.carousel-container .project a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: #000 2px solid;
    border-left: #000 2px solid;
    border-radius: 15%;
}
.carousel-container .project a:hover {
    color: #058C42;
    transition: all ease-in-out .5s;
    border-bottom: #058C42 2px solid;
    border-left: #058C42 2px solid;
    border-radius: 15%;
}

@media all and (max-width:760px) {
    .logo-container .logo {
        font-size: 11vw;
    }

    .links-container {
        gap: 5vw;
    }

    .links-main-container {
        height: 25%;
    }
    .logo-main-container {
        height: 25%;
    }
    .carousel-main-container {
        height: 50%;
    }
    .carousel-container {
        flex-direction: column;
    }
    .carousel-container .project{
        margin: 25px 0px;
    }
    .carousel-container .project a {
        font-size: 4.5vw;
        padding: 10px;
        border-top: #000 2px solid;
        border-right: #000 2px solid;
        border-bottom: #058C42 2px solid;
        border-left: #058C42 2px solid;
        border-radius: 15%;
    }
    .carousel-container .project a:hover {
        border-top: #058C42 2px solid;
        border-right: #058C42 2px solid;
        border-bottom: #058C42 2px solid;
        border-left: #058C42 2px solid;
    }
}

@media all and (max-width:420px) {
    .carousel-container .project a {
        font-size: 5vw;
    }
}

