@font-face {
  font-family: roboto;
  src: url(./assets/fonts/roboto-regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/fonts/roboto-bold.ttf);
  font-weight: bold;
}

:root {
  font-family: roboto;
  --neutral-dark-slate-grey: hsl(234, 29%, 20%);  
  --neutral-charcoal-grey: hsl(235, 18%, 26%);
  --neutral-grey: hsl(231, 7%, 60%);
  --primary-tomato: hsl(4, 100%, 67%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: var(--neutral-charcoal-grey);
  height: 100vh;
}
.main-container {
  background-color: white;
  width: 375px;
  display: flex;
  flex-direction: column;
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem 1.5rem;
  color: var(--neutral-dark-slate-grey);
}
.information-container h1 {
  color: var(--neutral-dark-slate-grey  );
}
.information-container p {
  line-height: 1.5rem;
}
.information-container ul {
  list-style: none;
}
.information-container ul li {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  background: url(./assets/images/icon-list.svg) left top no-repeat;
  padding-left: 30px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2rem;
}

.actions .email label {
  font-weight: bold;
  font-size: 14px;
}
.actions .email input {
  display: block;
  margin-top: 8px;
  width: 100%;
  border-color: var(--neutral-grey);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  color: var(--neutral-dark-slate-grey);
  padding: .75rem;
  font-size: 16px;
}
.actions .email input::placeholder{
  color: var(--neutral-grey);
}
.actions .email input:focus {
  outline: none;
  border-color: var(--neutral-dark-slate-grey);
}
.actions .button {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--neutral-dark-slate-grey);
  text-align: center;
  padding: 1.15rem 1.25rem;
  border-radius: 8px;
  transition: background-color ease-in-out 300ms, box-shadow ease-in-out 300ms;
}
.actions .button:hover {
  cursor: pointer;
  background-color: var(--primary-tomato);
  box-shadow: 0 16px 32px -8px var(--primary-tomato);
}
.img-desktop {
  display: none;
}

.main-container-done {
  background-color: white;
  width: 375px;
  height: 100vh;
  padding: 0 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-container-done .button-done {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--neutral-dark-slate-grey);
  text-align: center;
  padding: 1.15rem 1.25rem;
  border-radius: 8px;
  transition: background-color ease-in-out 300ms, box-shadow ease-in-out 300ms;
  position: relative;
  bottom: -12%;
}
.main-container-done .button-done:hover {
  cursor: pointer;
  background-color: var(--primary-tomato);
  box-shadow: 0 16px 32px -8px var(--primary-tomato);
}
.information-done {
  color: var(--neutral-dark-slate-grey);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.information-done img {
  width: 64px;
}
.information-done h1 {
  line-height: 2rem;
}
.information-done p {
  line-height: 1.5rem;
}
.information-done .email-done {
  font-weight: bold;
}

@media all and (min-width: 900px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    width: fit-content;
    height: auto;
    flex-direction: row;
    align-items: center;
    border-radius: 32px;
    padding: 20px;
    gap: 4rem;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
  .information-container {
    padding: 0;
    padding-left: 32px;
    width: 380px;
  }
  .information-container h1 {
    font-size: 3rem;
  }
  .actions {
    margin-bottom: 0;
  }
  .actions .button {
    letter-spacing: normal;
  }

  .main-container-done {
    width: 460px;
    height: auto;
    padding: 3rem;
    gap: 2rem;
    border-radius: 32px;
  }
  .main-container-done .button-done {
    bottom: auto;
  }
  .information-done {
    gap: 1rem;
  }
  .information-done h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}