.papers-main-container {
    justify-content: center;
    align-items: flex-start;
}

.empty-message {
    text-align: center;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

@media all and (max-width:600px) {
    .empty-message {
        font-size: 0.8rem;
    }
}