* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(196deg, #ffedd3 0%, #fcd2d1 100%);
    color: #101010;
}

.main-container {
    height: 100vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-container .heading {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.text-container .paragraph {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 1rem;
    width: 90%;
}

a {
    text-decoration: none;
    color: #FFEDD3;
}
.button {
    background-color: #FE8F8F;
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 30px;
}

.image-main-container {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-container {
    width: 60%;
    height: auto;
    margin: auto;
}
.image-container img {
    width: 100%;
    height: auto;
}

@media all and (max-width:600px) {
    .main-container {
        display: block;
        width: 90vw;
        position: relative;
    }

    .text-container {
        height: auto;
        width: 90%;
        margin: auto;
        padding-top: 3rem;
    }
    .text-container .heading {
        font-size: 4vw;
    }
    .text-container .paragraph {
        font-size: 4.2vw;
        width: 100%;
    }

    .image-main-container {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
    }

    .button {
        font-size: 4vw;
        width: 42vw;
        height: 5vh;
    }
}
