* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.root {
    width: 100vw;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    position: relative;
}

.color-pane {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: url("https://loki-099.github.io/challenge/img/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.card-container {
    width: 541px;
    height: 527px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.card {
    border-radius: 5px;
    box-shadow: 0 20px 50px -30px #000;
}
.card-front {
    background: url("https://loki-099.github.io/challenge/img/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 447px;
    height: 245px;
    position: absolute;
    top: 0;
    left: 0;
}
.card-back {
    background: url("https://loki-099.github.io/challenge/img/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 447px;
    height: 245px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.front-text {
    width: 100%;
    height: 100%;
    padding: 25px;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.front-text img {
    width: 84px;
    height: 47px;
}
.front-text .info-text {
    width: 100%;
    height: 45%;
    position: relative;
}
.card-number {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}
.card-name {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
.card-date {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.back-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.card-cvc {
    width: 100%;
    text-align: right;
    padding: 0 50px;
    font-size: 0.9rem;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.1rem;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 832px;
    width: 381px;
    height: auto;
    transform: translateY(-50%);
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
}

.third {
    display: flex;
    justify-content: space-between;
}
.date-input-container {
    width: 45%;
}
.cvc-input-container {
    width: 50%;
}

.third-date-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tdi-input {
    display: inline-block;
    width: 47%;
    padding: 10px 14px;
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    border: 1px solid #DFDEE0;
    color: hsl(278, 68%, 11%);
    margin-bottom: 5px;
}
.tdi-input::placeholder {
    color: hsl(270, 3%, 87%);
}
.tdi-input:focus {
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
}

.input-error {
    border: 1px solid hsl(0, 100%, 66%) !important;
}

.complete-container {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.complete-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 1.9rem;
}
.complete-container .heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: hsl(278, 68%, 11%);
    margin-bottom: 0.9rem;
    font-weight: 500;
}
.complete-container .para {
    font-size: 0.9rem;
    color: hsl(279, 6%, 55%);
    letter-spacing: normal;
}


@media all and (max-width:420px) {
    .color-pane {
        background: url('https://loki-099.github.io/challenge/img/bg-main-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 240px;
    }
    .card-container {
        width: 343px;
        height: 251px;
        top: 150px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .card-front {
        width: 286px;
        height: 157px;
        top: auto;
        bottom: 0;
        z-index: 1;
    }
    .front-text {
        padding: 20px;
    }
    .front-text img{
        width: 54px;
        height: 30px;
    }
   .card-number {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
   }
   .card-name, .card-date {
        font-size: 0.55rem;
   }
   #card-date-mm, #card-date-yy {
        font-size: 0.55rem;
   }
   .card-cvc {
        font-size: 0.7rem;
        margin-bottom: 2px;
        padding: 0 35px;
   }
    .card-back {
        width: 286px;
        height: 157px;
        bottom: auto;
        top: 0;
    }

    .form-container {
        width: 327px;
        height: 328px;
        top: 480px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
